   <form name="productForm" novalidate class="form-horizontal">
<fieldset>

<legend>Add Product</legend>

<!-- Code -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Código :</label>  
  <div class="col-md-2">
  <input type="text" placeholder="ingrese el código" class="form-control input-md" name="code" ng-model="code" required>
    <span class="glyphicon glyphicon-alert" style="color:red" ng-show="productForm.code.$dirty && productForm.code.$invalid">
                <span ng-show="productForm.code.$error.required">El código es requerido.</span>
  </div>
</div>

<!-- Vendor -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Fabricante :">Seleccione</label>
  <div class="col-md-2">
    <select id="Fabricante :" name="selectVendor" ng-model="vendor" ng-options="vendor.name for vendor in vendors" ng-selected="selected" class="form-control">
      <option>--Seleccione fabricante--</option>
    </select>
  </div>
</div>

<!-- Description -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Descripción :</label>  
  <div class="col-md-4">
  <input id="inputDescription" name="description" type="text" ng-model="description" placeholder="ingrese una descripción" class="form-control input-md" required="">
  <span class="glyphicon glyphicon-alert" style="color:red" ng-show="productForm.description.$dirty && productForm.description.$invalid">
  <span ng-show="productForm.description.$error.required">Ingrese una descripción para el producto.</span>    
  </div>
</div>

<!-- Price -->
<div class="form-group">
    <label class="col-md-4 control-label" for="inputPrice">Precio : </label>
<div class="col-md-1">
    <input class="form-control input-md" type="number" id="inputPrice" name="price" ng-model="price" required>
    <span class="glyphicon glyphicon-alert" style="color:red" ng-show="productForm.price.$dirty && productForm.price.$invalid">
    <span ng-show="productForm.price.$error.invalid">El precio debe ser numérico.</span>
</div>
</div>

<!-- Active -->
<div class="form-group">
  <label class="col-md-4 control-label" for="prependedcheckbox">Activo :</label>
  <div class="col-md-1">
    <div class="input-group">
      <span class="input-group-addon">     
          <input class="form-control input-sm" type="checkbox" id="chkActive" name="active" ng-model="active" checked="checked">     
      </span>      
    </div>    
  </div>
</div>

<!-- Notes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="notas">Notas:</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="notas" name="notes" ng-model="notes"></textarea>
  </div>
</div>

<!-- Submit -->
<div class="form-group">  
  <div class="col-md-4">    
    <input class="btn btn-lg btn-success" value="Grabar" type="submit" ng-click="save()" ng-disabled="productForm.$invalid">
  </div>
</div>

</fieldset>
</form>